:root {
    /*fonts*/
    --nunitoSans : 'Nunito Sans', sans-serif;
    --openSans: 'Open Sans', sans-serif;

    /*font-weight*/
    --font-black: 800;
    --font-bold: 600;
    --font-regular: 400;
    --font-light: 300;

    --color-primary: #FF0000;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-dark-grey: #28272C;
    --color-grey: #6A6A6A;
    --color-medium-grey: #B2B2B2;
    --color-light-grey: #D1D1D1;
}
* {
    box-sizing: border-box;
}
body {
    font-family: var(--nunitoSans)
}
.container {
    width: 1088px;
    margin: 0 auto;
}
.title {
    font-size: 35px;
    font-weight: var(--font-bold);
    text-transform: uppercase;
}
.section__header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section__header::before,
.section__header::after {
    content: "";
    background-color: var(--color-primary);
    height: 3px;
    width: 50px;
    box-shadow: 0px 3px 6px #FF00004D;
}
.margin {
    margin: 80px;
}

/*HERO SECTION*/

.hero {
    background-image: url("../images/page_header_img.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header {
    background: #00000066;
    border: 2px solid #FFFFFF33;
    opacity: 100%;
}
.logo {
    text-transform: uppercase;
    text-decoration: none;
}
.header__logo {
    font-size: 35px;
}
.logo img {
    width: 31px;
    height: 35px;
}
.logo--red {
    font-weight: var(--font-black);
    color: #FF0000;
}
.logo--white {
    font-weight: var(--font-bold);
    color: var(--color-white);
}
.nav__list {
    display: flex;
    align-items: center;
    height: 90px;
}
.nav__link a {
    font-weight: var(--font-bold);
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-white);
    display: block;
    height: 90px;
    line-height: 90px;
    padding: 0 34px;
}
.nav__link a:hover {
    background: #FFFFFF33 0% 0% no-repeat padding-box;
    opacity: 1;
}
.main .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.main {
    height: 807px;
}
.main::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 86%;
    background: var(--color-black);
    opacity: 0.3;
    z-index: 1;
}
.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64vh;
}
.arrow__symbol {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: var(--color-primary);
    box-shadow: 0px 3px 6px #FF00004D;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.main__title {
    font-weight: var(--font-black);
    font-size: 90px;
    text-transform: uppercase;
    color: var(--color-white);
    padding: 254px 0 22px 0;
    z-index: 2;
}
.main__heading {
    font-weight: var(--font-bold);
    font-size: 16px;
    color: var(--color-white);
    padding: 0 10px 10px 0;
    margin-bottom: 30px;
    z-index: 2;
    text-align: center;
}
.btn {
    padding: 22px 40px;
    border-radius: 40px;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    font-family: var(--nunitoSans);
    font-size: 16px;
    font-weight: var(--font-bold);
    margin: 0 25px;
    z-index: 2;
}
.btn--primary {
    background-color: var(--color-primary);
    color: var(--color-white);
    box-shadow: 0px 3px 6px #FF00004D;
}
.btn--secondary {
    background-color: var(--color-white);
    color: var(--color-primary);
}

/*BLOG SECTION*/

.blog .container {
    display: flex;
    justify-content: center;
}
.blog .container:first-child {
    flex-direction: column;
}
.blog {
    margin-bottom: 80px;
    background-color: var(--color-white);
}
.blog__header {
    padding: 0 10px;
}
.blog__articles {
    display: flex;
    flex-direction: row;
}
.blog--img {
    margin-right: 16px;
}
.blog--title {
    background-color: var(--color-white);
    font-size: 19px;
    font-weight: var(--font-regular);
    color: var(--color-grey);
    text-transform: uppercase;
    margin: 15px auto;
}
.blog--text {
    font-size: 14px;
    font-weight: var(--font-light);
    color: var(--color-grey);
    margin: 15px 92px 15px 0;
}
.article__btn {
    padding: 10px 29px;
    background-color: var(--color-primary);
    border-radius: 40px;
    border: none;
    box-shadow: 0px 3px 6px #FF00004D;
}
.article__btn a {
    font-family: var(--nunitoSans);
    font-size: 14px;
    font-weight: var(--font-regular);
    color: var(--color-white);
    text-transform: uppercase;
    text-decoration: none;
}

