:root {
    /*fonts*/
    --nunitoSans : 'Nunito Sans', sans-serif;
    --openSans: 'Open Sans', sans-serif;

    /*font-weight*/
    --font-black: 800;
    --font-bold: 600;
    --font-regular: 400;
    --font-light: 300;

    --color-primary: #FF0000;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-dark-grey: #28272C;
    --color-grey: #6A6A6A;
    --color-medium-grey: #B2B2B2;
    --color-light-grey: #D1D1D1;
}
* {
    box-sizing: border-box;
}
body {
    font-family: var(--nunitoSans)
}
.container {
    width: 1088px;
    margin: 0 auto;
}

/*HERO SECTION*/

.hero {
    background-image: url("../images/page_header_img.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header {
    background: #00000066;
    border: 2px solid #FFFFFF33;
    opacity: 100%;
}
.logo {
    text-transform: uppercase;
    text-decoration: none;
}
.header__logo {
    font-size: 35px;
}
.logo img {
    width: 31px;
    height: 35px;
}
.logo--red {
    font-weight: var(--font-black);
    color: #FF0000;
}
.logo--white {
    font-weight: var(--font-bold);
    color: var(--color-white);
}
.nav__list {
    display: flex;
    align-items: center;
    height: 90px;
}
.nav__link a {
    font-weight: var(--font-bold);
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-white);
    display: block;
    height: 90px;
    line-height: 90px;
    padding: 0 34px;
}
.nav__link a:hover {
    background: #FFFFFF33 0% 0% no-repeat padding-box;
    opacity: 1;
}